.stats-card {
    position: absolute;
    width: 22.5%;
    left: 50px;
    bottom: 50px;
    top: 125px;
    border-radius: 25px;
}

.stats-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(155deg, #E4EDFC 20%, #DDFFF4 90%);
    filter: blur(5px);
    border-radius: 25px;
    z-index: -1;
}

.pfp-shape {
    border-radius: 35px;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.selected-pfp {
    position: absolute;
    width: 95px;
    top: 50px;
    filter: blur(1.5px)
}

.selected-character-pfp {
    left: 15%;
}

.selected-vehicle-pfp {
    right: 15%;
}

.selection-pfp {
    position: absolute;
    width: 75px;
}

/* This is the "x" sign between two selected pfp (Why did I name it eks I'll never remember) */
.eks {
    aspect-ratio: 1/1;
    position: absolute;
    width: 25px;
    top: 87.5px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(1.25px)
}