{% extends "layout.html" %}
{% block body %}
<div class="stats-card">
    <img class="pfp-shape selected-pfp selected-character-pfp" src='' alt=' '></img>
    <svg class="name-arc name-arc-character" viewBox="0 0 175 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path id="charNamePath" d="M 0 30 q 87.5 75 175 0" fill="none" />
        <text>
            <textPath href="#charNamePath" startOffset="50%" text-anchor="middle">Mario</textPath>
        </text>
    </svg>
    <svg class="eks" viewBox="0 0 24 24" fill="none" xmlns="http://w3.org">
        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
    <p>stats card</p>
    <img class="pfp-shape selected-pfp selected-vehicle-pfp" src='' alt=' '></img>
    <svg class="name-arc name-arc-vehicle" viewBox="0 0 175 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path id="vehNamePath" d="M 0 30 q 87.5 75 175 0" fill="none" />
        <text>
            <textPath href="#vehNamePath" startOffset="50%" text-anchor="middle">Standard Kart</textPath>
        </text>
    </svg>


    <!-- Stats -->
    <div class="sections">
        <div class="section">
            <p class="section-title">SPEED</p>
            <div class="section-stats-1">
                <p class="stats-title">On Road</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-2">
                <p class="stats-title">Off Road</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-3">
                <p class="stats-title">In Water</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
        </div>

        <div class="section">
            <p class="section-title">HANDLING</p>
            <div class="section-stats-1">
                <p class="stats-title">On Road</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-2">
                <p class="stats-title">Off Road</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-3">
                <p class="stats-title">In Water</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
        </div>

        <div class="section">
            <p class="section-title">OTHER</p>
            <div class="section-stats-1">
                <p class="stats-title">Accel</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-2">
                <p class="stats-title">Turbo</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
            <div class="section-stats-3">
                <p class="stats-title">Weight</p>
                <div class="stats-progress-bar">
                    <div class="stats-progress-value"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Share -->
    <div class="action-btn">Share</div>
</div>
<div class="combo-selection">
    <div class="dropdown-box">
        <p class="dropdown-title">Characters</p>
        <div class="dropdown-contentbox">
            {% for data in characters %}
            <div class="selection">
                <img class="pfp-shape selection-pfp" src='{{ data[11] }}' alt='{{ data[1] }}'></img>
                <!-- name here deal later -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}