<!DOCTYPE html>
<html lang="en">

<head>
    <title>MKW COMBO STATS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='guide.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }} ">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Text:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="box">
        <div class="nav-bar">
            <div class="navbar"></div>
            <a class="site-title" href="/">MKW Combo Stats</a>
            <div class="nav-links">
                <a class="nav-link" href="/About">About</a>
                <a class="nav-link" href="/Credits">Credits</a>
                <a class="source-button" href="https://github.com" target="_blank" rel="noopener noreferrer">Source</a>
            </div>
            <a href="javascript:void(0);" class="icon">&#9776;</a>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>